<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>
    <add name="WIKI" connectionString="Data Source=db_sqlServer;Initial Catalog=WIKI;Persist Security Info=True;User ID=sa;Password=123.123a" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--RabbitMq地址-->
    <add key="RabbitMq_Server" value="rabbitmq://10.1.2.241:5672" />
    <add key="RabbitMq_User" value="admin" />
    <add key="RabbitMq_Password" value="123.123a" />
    <!--Elastic-->
    <add key="Elastic_Server" value="http://localhost:9200" />
    <add key="Elastic_User" value="admin" />
    <add key="Elastic_Password" value="123.123a" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>